<button class="drawer-button" id="drawer-button">
  <span>menu</span>
</button>

<style lang="scss">
  .drawer-button {
    position: fixed;
    top: 1.6rem;
    right: 2rem;
    z-index: 1000;
    display: block;
    padding: 0.8rem 1.2rem 0.5rem;
    color: var(--white);
    border: 1px solid var(--white);
  }
  .drawer-button span {
    display: block;
    text-transform: uppercase;
  }
</style>
