<div class="loading">
  <div id="log"></div>
  <div id="progress" aria-hidden="true">
    <div id="counter" class="loading-count">
      <div class="loading-count__digit loading-count__digit--hundred" style="--progress: 0;">
        <div class="loading-count__loader _en">
          <span class="loading-count__num">0</span>
          <span class="loading-count__num">1</span>
          <span class="loading-count__num">2</span>
          <span class="loading-count__num">3</span>
          <span class="loading-count__num">4</span>
          <span class="loading-count__num">5</span>
          <span class="loading-count__num">6</span>
          <span class="loading-count__num">7</span>
          <span class="loading-count__num">8</span>
          <span class="loading-count__num">9</span>
          <span class="loading-count__num">0</span>
        </div>
      </div>
      <div class="loading-count__digit loading-count__digit--ten" style="--progress: 0;">
        <div class="loading-count__loader _en">
          <span class="loading-count__num">0</span>
          <span class="loading-count__num">1</span>
          <span class="loading-count__num">2</span>
          <span class="loading-count__num">3</span>
          <span class="loading-count__num">4</span>
          <span class="loading-count__num">5</span>
          <span class="loading-count__num">6</span>
          <span class="loading-count__num">7</span>
          <span class="loading-count__num">8</span>
          <span class="loading-count__num">9</span>
          <span class="loading-count__num">0</span>
        </div>
      </div>
      <div class="loading-count__digit loading-count__digit--one" style="--progress: 0;">
        <div class="loading-count__loader _en">
          <span class="loading-count__num">0</span>
          <span class="loading-count__num">1</span>
          <span class="loading-count__num">2</span>
          <span class="loading-count__num">3</span>
          <span class="loading-count__num">4</span>
          <span class="loading-count__num">5</span>
          <span class="loading-count__num">6</span>
          <span class="loading-count__num">7</span>
          <span class="loading-count__num">8</span>
          <span class="loading-count__num">9</span>
          <span class="loading-count__num">0</span>
        </div>
      </div>
    </div>
    <span class="_en loading-count__percent" aria-hidden="true">%</span>
  </div>
  <div class="dummy" aria-hidden="true">
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
    <img width="640" height="440" id="loading" data-src="/textures/noise.png" alt="" />
  </div>
</div>

<style lang="scss">
  body.loaded {
    .loading {
      opacity: 0;
      pointer-events: none;
    }
  }
  .loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100svh;
    pointer-events: auto;
    transition-timing-function: ease-in;
    transition-duration: 0.4s;
    overscroll-behavior: none;
    background-color: #fff;
  }
  #log {
    position: absolute;
    opacity: 0;
  }
  #progress {
    position: absolute;
    right: 2.4rem;
    bottom: 5rem;
    width: fit-content;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    font-size: 2.4rem;
    color: var(--black);
  }
  .dummy{
    display: none;
  }

  .loading-count {
    --width: 1.8rem;
    --height: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .loading-count__digit {
    width: var(--width);
    height: var(--height);
    overflow: hidden;
    position: relative;
  }

  .loading-count__percent {
    font-size: 1rem;
    line-height: 1;
    margin-top: 0.4rem;
  }

  .loading-count__loader {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .loading-count__digit--hundred .loading-count__loader {
    transform: translateY(calc(-100% * var(--progress)));
    transition-duration: 0.8s;
    transition-timing-function: var(--easeOutSine);
  }

  .loading-count__digit--ten .loading-count__loader {
    transform: translateY(calc(-100% * var(--progress)));
    transition-duration: 0.2s;
  }

  .loading-count__digit--one .loading-count__loader {
    transform: translateY(calc(-100% * var(--progress)));
    transition-duration: 0.2s;
  }

  .loading-count__num {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    line-height: 0;
    text-align: center;
  }
</style>
