<canvas id="webgl-canvas"></canvas>
<!-- <div class="touch">touch!</div> -->

<style lang="scss">
  #webgl-canvas {
    $this: &;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    user-select: none;

    // pointer-events: none;
  }

  .touch {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(97, 97, 97, 0.788);
    color: var(--white);
    display: grid;
    place-items: center;
    font-size: 4rem;
  }
  .touch.hide {
    display: none;
  }
</style>

<script>
  const touch = document.querySelector('.touch')
  touch.addEventListener('click', () => {
    touch.classList.add('hide')
  })
</script>
