---
import DrawerButton from '../components/DrawerButton.astro'
import DrawerMenu from '../components/DrawerMenu.astro'
import Gnav from '../components/Gnav.astro'

const {rootURL} = Astro.props
---

<header class="header">
  <div class="header__wrapper">
    <div class="header__inner">
      <a href={rootURL || "/"} class="header__logo">
        <h1 class="">TKWD</h1>
      </a>
      <Gnav />
      <DrawerButton />
      <DrawerMenu />
    </div>
  </div>
</header>

<style lang="scss">
  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
  }
  .header__wrapper {
    max-width: var(--max-width);
    margin-inline: auto;
  }
  .header__inner {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .header__logo {
    // display: block;
    display: none;
    width: fit-content;
    padding-top: 1.6rem;
    padding-right: 1.6rem;
    padding-bottom: 1.2rem;
    padding-left: 1.6rem;
    line-height: 1;
    border: 1px solid var(--black);
    h1 {
      font-size: 2rem;
      color: var(--black);
    }
  }
  @media (max-width: 768px) {
    .header__inner {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
    }
  }
</style>
